.card {
  height: 320px;
  background: rgb(218, 218, 218);
}

.card-title {
  min-height: 38px;
}

.card-body {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: rgba(0,0,0,0.5);
  color: rgb(230, 227, 227);
  width: 100%;

  a {
    color: white;
  }
}

.grayscale {
  -webkit-filter: grayscale(1); /* Webkit */
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* W3C */
}

.truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

img {
  max-height:100%;
}
