<header>
  <div class="container">
    <h1>Photo Fetcher</h1>
  </div>
</header>

<main>

  <section class="container">
    <div class="d-flex flex-row justify-content-between">
      <div class="form-check form-switch d-flex align-items-center">
        <input class="form-check-input" type="checkbox"> &nbsp;
        <label class="form-check-label" for="flexSwitchCheckDefault">Make photo greyscale</label>
      </div>
      <div>
        <button type="button" class="btn btn-primary">Fetch New Photos</button>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2">

      <div class="col">
        <div class="card shadow-sm">
          <img src="assets\photo-example.PNG" />
          <div class="card-body">
            <h6>Lucas Budimaier</h6>
            <a href="#">https://unsplash.com/photos/pwaaqfoMibl</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="assets\photo-example.PNG" />
          <div class="card-body">
            <h6>Lucas Budimaier</h6>
            <a href="#">https://unsplash.com/photos/pwaaqfoMibl</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="assets\photo-example.PNG" />
          <div class="card-body">
            <h6>Lucas Budimaier</h6>
            <a href="#">https://unsplash.com/photos/pwaaqfoMibl</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="assets\photo-example.PNG" />
          <div class="card-body">
            <h6>Lucas Budimaier</h6>
            <a href="#">https://unsplash.com/photos/pwaaqfoMibl</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>

<router-outlet></router-outlet>
